# Release keystore configuration
# Copy this file to keystore.properties and fill in your keystore information
# DO NOT commit keystore.properties to git!
#
# IMPORTANT: For PKCS12 keystore, store password and key password MUST be the same!

MYAPP_RELEASE_STORE_FILE=release.keystore
MYAPP_RELEASE_KEY_ALIAS=constructpro-key
MYAPP_RELEASE_STORE_PASSWORD=your-keystore-password
MYAPP_RELEASE_KEY_PASSWORD=your-keystore-password

